/* Component Stylesheet 
============================================================
============================================================*/
section{
    width: 1200px;
    border: 1px solid red;
    overflow: auto;
    margin: 0 auto;
}

article{
    margin-bottom: 20px;
    margin-left: 20px;
    border:1px solid green;
    width: 330px;
    float: left;
}