<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    
    
    
    <section>
        <article>
        <img src="../../images/mt.jpg" height="200" width="330" />
		<p>Mountain</p>
        </article>

        
        <article>
        <img src="../../images/facebook31.svg" height="200" width="330" />
		<p>Facebook</p>
        </article>
        
        
        <article>
        <img src="http:../../images/youtube17.svg" height="200" width="330" />
		<p>Check out my YouTube</p>
        </article>
        
        <article>
        <img src="../../images/github13.svg" height="200" width="330" />
		<p>This is github</p>
        </article>
    
    </section>
    
    

</body>
</html>