<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    
    
    
    <section>
        <article>
        <img src="../../images/mt.jpg" height="200" width="330" />
		<p>This is image 1</p>
        </article>
    
        
        <article>
        <img src="http://placehold.it/350x150" height="200" width="330" />
		<p>This is image 2</p>
        </article>
        
        
        <article>
        <img src="http://placehold.it/350x150" height="200" width="330" />
		<p>This is image 3</p>
        </article>
        
        <article>
        <img src="http://placehold.it/350x150" height="200" width="330" />
		<p>This is image 4</p>
        </article>
    
    </section>
    
    

</body>
</html>