<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
<!--
	<nav>
	<ul>
		<li><a href="#home">Home</a></li>
		<li><a href="#about">About US</a></li>
		<li><a href="#Activities">Activities</a></li>
		<li><a href="#lessons">Lessons</a></li>
		<li><a href="#Contacts">Contacts</a></li>
	</ul>
	</nav>
-->

	<!--Pattern HTML-->

    
    
    
    <section>
        <article>
            <img src="../../images/mt.jpg" alt="mountain">
            <div class="info">
                <p> This is about web development  and design.</p>
            </div>
        </article>
        
        <article>
            <img src="../../images/mt.jpg" alt="mountain">
            <div class="info">
                <p> This is about web development  and design.</p>
            </div>
        </article>
        
        <article>
            <img src="../../images/mt.jpg" alt="mountain">
            <div class="info">
                <p> This is about web development  and design.</p>
            </div>
        </article>
    </section>
    

	<!-- End Component -->
	
</body>
</html>