<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<div>
		<img src="../../images/mt.jpg" alt="mountain" width="150px" height="150px">
		<h2>Title</h2>
		<p> How are you doing today?</p>
	</div>

	<div>
		<img src="../../images/mt.jpg" alt="mountain" width="150px" height="150px">
		<h2>Title</h2>
		<p> How are you doing today?</p>
	</div>

	<div>
		<img src="../../images/mt.jpg" alt="mountain" width="150px" height="150px">
		<h2>Title</h2>
		<p> How are you doing today?</p>
	</div>

	<div>
		<img src="../../images/mt.jpg" alt="mountain" width="150px" height="150px">
		<h2>Title</h2>
		<p> How are you doing today?</p>
	</div>
	<!-- End Component -->
	
</body>
</html>