<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<div>
		<img src="../../images/mt.jpg" alt="mountain" width="150px" height="150px">
		<h2>Title</h2>
		<p> How are you doing today?</p>
	</div>

	<div>
		<img src="../../images/facebook31.svg" alt="facebook" width="150px" height="150px">
		<h2>Title</h2>
		<p> Sols of the globe was started by me in 2008. The objective of it was to donate shoes and clothing items
		to needy familes in south africa.</p>
	</div>

	<div>
		<img src="../../images/github13.svg" alt="github" width="150px" height="150px">
		<h2>Title</h2>
		<p> To find my coding projects you can search for my username, which is mangenius200.</p>
	</div>

	<div>
		<img src="../../images/youtube17.svg" alt="youtube" width="150px" height="150px">
		<h2>Title</h2>
		<p> Check out my YouTube for the latest tech news.</p>
	</div>
	<!-- End Component -->
	
</body>
</html>