/* Component Stylesheet 
============================================================
============================================================*/

body {
    background: url(../../images/mt.jpg) no-repeat center center fixed;
    background-size: cover;

}
p{
    color:white;
    positon: absolute;
    padding-left: 500px;
    font-size: 40px;
    padding-top: 500px;
}

h1{
    margin: 0 auto;
    padding-left: 700px;
    font-size: 20px;
}