<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->

	<section>
		<article>Slide 1</article>
		<article>Slide 2</article>
		<article>Slide 3</article>
		<article>Slide 4</article>
		<article>Slide 5</article>
		<article>Slide 6</article>
		<article>Slide 7</article>
		<article>Slide 8</article>
		<article>Slide 9</article>
		<article>Slide 10</article>
	</section>
	<!-- End Component -->
	
</body>
</html>