<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
<h2> Ski Resort</h2>

	<ul>
		<li class="active"><a href="#home">Home</a></li>
		<li><a href="#about">About US</a></li>
		<li><a href="#Activities">Activities</a></li>
		<li><a href="#lessons">Lessons</a></li>
		<li><a href="#Contacts">Contacts</a></li>
	</ul>


	<!-- End Component -->
	
</body>
</html>