/* Project CSS 
============================================================
============================================================*/
section{
    background-color: aliceblue;
    width: 900px;
}

article{
    width: 800px;
}

nav li{
    display: inline;
{background-color: rgba(255, 255, 255, 0.3);}
}


/* HEADER ============================== */

/* ABOUT ============================== */

/* COMPONENTS ============================== */


