/* Project CSS 
============================================================
============================================================*/
section{
    background-color: grey;
    width: 900px;
}

article{
    background-color: black;
    width: 800px;
}


/* HEADER ============================== */
h2{
    background-color: grey;
}
/* ABOUT ============================== */

/* COMPONENTS ============================== */
